body {
    background-color: rgb(117, 120, 122);
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 50px
}
h2{
    padding-top: 4%;
    color: yellow;
    text-align: center;
    font-size: 40px;
    float: left;
    padding-left: 40%;
}
h3{
    padding-top: 4%;
    color: yellow;
    text-align: center;
    font-size: 30px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 4px solid orange;
}
li {
    float: left;
}
  
li a {
    display: block;
    color: yellow;
    font-size: 20px;
    text-align: center;
    padding: 20px 16px;
    margin: 0% 70px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(61, 60, 60);
}
#Heuristic-header{
    padding-top: 9%;
    color: yellow;
    text-align: center;
    font-size: 40px;
}
#example-pictures{
    height: 60%;
    width: 60%;
    float: left;
    padding-left: 20%;
}