body {
    background-color: rgb(1, 154, 255);
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 50px
}
h2{
    color: yellow;
    text-align: center;
    font-size: 40px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 4px solid orange;
}
li {
    float: left;
}
  
li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 20px 16px;
    margin: 0px 100px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(61, 60, 60);
}

