body {
    background-color: red;
}

h1 {
    color: yellow;
    margin-left: 170px;
    text-align: center;
    font-size: 50px
}
h2{
    color: yellow;
    margin-left: 170px;
    text-align: center;
    font-size: 50px
}



